<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>cgi-bin</string>
		<string>PPs</string>
		<string>data</string>
		<string>py</string>
		<string>bootstrap-3.3.4</string>
		<string>bootstrap-3.3-2.4-dist</string>
		<string>assets</string>
		<string>images</string>
		<string>3918369</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Final plan.md</string>
		</array>
		<array>
			<string>CervBinaryHQ.txt</string>
		</array>
		<array>
			<string>make_db.py</string>
		</array>
		<array>
			<string>make_db2.py</string>
		</array>
		<array>
			<string>Yeastgeneinfo.txt</string>
		</array>
		<array>
			<string>make_ppi.py</string>
		</array>
		<array>
			<string>make_mqsql_full.py</string>
		</array>
		<array>
			<string>make_mysql_full.py</string>
		</array>
		<array>
			<string>make_pub.py</string>
		</array>
		<array>
			<string>make_pub2.py</string>
		</array>
		<array>
			<string>import_ca_path.py</string>
		</array>
		<array>
			<string>prettytable.py</string>
		</array>
		<array>
			<string>fG.js</string>
		</array>
		<array>
			<string>make_ltdb.py</string>
		</array>
		<array>
			<string>make_yudb.py</string>
		</array>
		<array>
			<string>make_master_ppi.py</string>
		</array>
		<array>
			<string>jquery.formalize.js</string>
		</array>
		<array>
			<string>force_graph.Js</string>
		</array>
		<array>
			<string>fg.py</string>
		</array>
		<array>
			<string>legend.js</string>
		</array>
		<array>
			<string>d3.legend.js</string>
		</array>
		<array>
			<string>permissions.sh</string>
		</array>
	</array>
</dict>
</plist>
