<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>src</string>
		<string>vendor</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>customize.min.js</string>
		</array>
		<array>
			<string>docs.min.js</string>
		</array>
		<array>
			<string>ie-emulation-modes-warning.js</string>
		</array>
		<array>
			<string>ie10-viewport-bug-workaround.js</string>
		</array>
		<array>
			<string>ie8-responsive-file-warning.js</string>
		</array>
		<array>
			<string>raw-files.min.js</string>
		</array>
	</array>
</dict>
</plist>
